@charset "utf-8";
/* CSS Document */

.textoAbout {
	animation: fadein 1.7s ease-out;
}

.textoAbout:nth-child(n+6) {
	animation: fadein 2s ease-out;
}

.textoAbout:nth-child(n+8) {
	animation: fadein 2.3s ease-out;
}

.textoAbout:nth-child(n+12) {
	animation: fadein 3s ease-out;
}

.textoAbout:nth-child(n+16) {
	animation: fadein 3s ease-out;
}

footer {
	animation: fadein 3s ease-out;
}

#imagenAbout {
	animation: popin 1s ease-out;
}

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes popin {
	0% {opacity: 0.5; transform: scale(0.5)}
	100% {opacity: 1; transform: scale(1)}
}